@import '../../../../../styles/variables';

.container{
width: 260px;
height: 400px;
.name{
    font-style: normal;
font-weight: 600;
font-size: 20px;
}
p{
    font-style: normal;
font-weight: 400;
font-size: 13px;
color:$grayCl;
}
}

.description{
    .line{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        svg{
            font-size: 37px;
        color: $darkBlueBg;
        }
    }
}